<nav class="top-nav">

  <!-- Navigate and settings -->
  <div class="row navigate flex just-space-between">
    <div class="icon-container gold">
      <angle-left-icon></angle-left-icon>
    </div>
    <h2 class="brand">Hår</h2>
    <div class="icon-container gold">
      <filter-icon></filter-icon>
    </div>
  </div>

  <!-- Select price interval -->
  <div class="row price-interval flex just-space-between">
    <span class="selected-interval">Pris: 250-500 kr</span>
    <div class="icon-container gold">
      <angle-down-sm></angle-down-sm>
    </div>
  </div>
</nav>

<!-- The list -->
<div class="list-container">

  <!-- Item  -->
  <div class="list-item">
    <span class="time">12.00</span>

    <div class="group">
      <span class="salon-name">Sax & Fön</span>
      <div class="group rates">

      </div>
      <span class="address">Rådmansgatan 46</span>
    </div>

    <div class="group price">
      <span class="price">320 kr</span>
      <span class="length">30 min</span>
    </div>

    <div class="icon-container gold">
      <angle-down-sm></angle-down-sm>
    </div>

  </div>

</div>
