<nav class="top-nav list-view">

  <!-- Navigate and settings -->
  <div class="row navigate flex just-space-between">
    <div class="icon-container gold">
      <angle-left-icon></angle-left-icon>
    </div>
    <h2 class="brand">Hår</h2>
    <div class="icon-container gold">
      <filter-icon></filter-icon>
    </div>
  </div>

  <!-- Select price interval -->
  <div class="price-range" [ngClass]="{'expand': expandPriceRange}">

    <div class="row selected flex just-space-between" (click)="toggleShowPriceRange()">
      <span class="selected-interval">Pris: {{selectedPriceRange.text}} kr</span>
      <div class="icon-container angle gold">
        <angle-down-sm-icon></angle-down-sm-icon>
      </div>
    </div>
    <div class="border"></div>

    <div class="expandable-options">
      <p [ngClass]="{'active': selectedPriceRange.option == 1}" (click)="selectPriceRange(1)">under 250 kr</p>
      <p [ngClass]="{'active': selectedPriceRange.option == 2}" (click)="selectPriceRange(2)">250-500 kr</p>
      <p [ngClass]="{'active': selectedPriceRange.option == 3}" (click)="selectPriceRange(3)">500-750 kr</p>
      <p [ngClass]="{'active': selectedPriceRange.option == 4}" (click)="selectPriceRange(4)">750-950 kr</p>
      <p [ngClass]="{'active': selectedPriceRange.option == 5}" (click)="selectPriceRange(5)">över 950 kr</p>
    </div>

  </div>

</nav>

<!-- The list -->
<div class="list-container">

  <!-- Item  -->
  <div class="list-item" *ngFor="let salon of salons">
    <div class="flex just-space-between">
      <span class="time">12.00</span>

      <div class="group second">
        <span class="salon-name">{{salon.name}}</span>

        <div class="group rates">
          <span class="icon-container gold" [ngClass]="{'fill': salon.avarage >= 1}"><star-icon></star-icon></span>
          <span class="icon-container gold" [ngClass]="{'fill': salon.avarage >= 2}"><star-icon></star-icon></span>
          <span class="icon-container gold" [ngClass]="{'fill': salon.avarage >= 3}"><star-icon></star-icon></span>
          <span class="icon-container gold" [ngClass]="{'fill': salon.avarage >= 4}"><star-icon></star-icon></span>
          <span class="icon-container gold" [ngClass]="{'fill': salon.avarage >= 5}"><star-icon></star-icon></span>
          <span class="raters">({{salon.rates.length}})</span>
        </div>

        <span class="address">{{salon.address}}</span>
      </div>
    </div>


    <div class="flex just-space-between">
      <div class="group price">
        <span class="price">{{salon.price}} kr</span>
        <span class="length">30 min</span>
      </div>

      <div class="icon-container angle gold" routerLink="/salons/{{salon.identityname}}">
        <angle-down-sm-icon></angle-down-sm-icon>
      </div>
    </div>


  </div>

</div>
