@import './variables';
@import './mixins';
@font-face {
    font-family: MillerBannerLight;
    src: url("fonts/FontBureau-MillerBannerLight.otf") format("opentype");
}


/*
==============================
General styles
==============================
*/
body {
  margin: 0;
  padding: 0;
  font-family: $sansSerif1;
  color: $black;
  font-size: 15px;
}

.flex {
  display: flex;
  &.just-space-between {
    justify-content: space-between;
  }
}

// Setting color to icons
.icon-container.gold { svg { g { stroke: $gold} } }
.icon-container.white { svg { g { stroke: white} } }
.icon-container.black { svg { g { stroke: black} } }
// Filling the star which is empty as default
.icon-container.fill { svg { g { fill: $gold;} } }

/*
Top-navigation for navigating in app
and selecting price range in the list-view
*/
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;

  // row for the top items of the nav-element
  .row.navigate {
    .icon-container {
      display: flex;
      padding: 15px;
      padding-bottom: 7px;
      align-items: center;
    }
  }
}

// Styles specific for list view
@import './listView';
// Styles specific for single view
@import './singleView';
